.table_wrapper {
  height: 80vh;
  overflow-x: hidden; /* Evita el scroll horizontal */
  display: flex;
  justify-content: left;
}

.table {
  font-size: 10px; /* Reducir tamaño de fuente */
  width: 100%; /* Asegurar que ocupe el ancho disponible */
  table-layout: fixed; /* Distribuir el espacio equitativamente */
  border-collapse: collapse; /* Asegurar que los bordes sean contiguos */
}

.headerCell,
.cell {
  text-align: left;
  white-space: normal; /* Permitir que el texto se ajuste */
  font-size: 14px;
  word-wrap: break-word; /* Romper palabras largas */
  border: 4px solid #ddd; /* Agregar borde */
  padding: 2px;
}


.headerCell {
  background-color: #f4f4f4;
  font-weight: bold;
}