.table_results {
  position: fixed;
  top: 60px;
  right: 60px;
  width: 750px;
  height: 80vh;
  font-family: monospace;
  font-size: 14px;
  background-color: #fef3c7; /* Amarillo pastel */
  padding: 12px;
  border-radius: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: pre-wrap;
  border: 2px solid #e76f51; /* Rojo suave */
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  z-index: 100;
  }

  .table_title { display: flex }
  
  .field_key { width: 250px; font-weight: bold}
    
  .field_value { margin-left: 10px }